<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="col-md-12 column" style="z-index:676">
    <hr>
    <div class="container" style=" max-width: none;">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <h2>Bootstrap中文网</h2>
                <span>本网站所列开源项目的中文版文档全部由Bootstrap
        中文网成员翻译整理，并全部遵循 CC BY 3.0协议发布。</span>
            </div>
            <div class="col-md-2 column">
                <h4>关于</h4>
                <p><a href="">关于我们</a></p>
                <p><a href="">关于我们</a></p>
                <p><a href="">关于我们</a></p>
            </div>
            <div class="col-md-2 column">
                <h4>联系方式</h4>
                <p><a href="">关于我们</a></p>
                <p><a href="">关于我们</a></p>
            </div>
            <div class="col-md-2 column">
                <h4>旗下网站</h4>
                <p><a href="">关于我们</a></p>
                <p><a href="">关于我们</a></p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 column">
    <hr>
    <br>
    <div class="row clearfix" style="margin-bottom:30px">
        <div class="col-md-6 column " >
            <a class=" pull-right" href="" >kimkim.cc</a>
        </div>
        <div class="col-md-6 column"><span></span><a  class=" pull-left"   href=""> zhangjinqing</a>
        </div>
    </div>
</div>