<div>
<% include indexTemplate%>
<div class="container " style=" max-width: none;" >
    <div class="row clearfix">
        <div class="row clearfix" >
            <div class="col-md-1 column"></div>
            <div class="col-md-8 column" style="padding:0;border-right: 1px solid gray;">
                <ul class="nav nav-tabs hovers" >
                    <h4>
                        <li class="dropdown pull-left"><span class="glyphicon glyphicon-th-list" href="#" style="margin-left:10px;line-height: 43px;color:black
                      ">&ensp;发现</span></li>
                    </h4>
                    <li class="  pull-right"><a href="#">热门</a></li>
                    <li class=" pull-right"><a href="#">最新</a></li>
                </ul>

                <div class="nav nav-tabs">
                    <a href="/people">
                        <img src="http://wenda.bootcss.com/uploads/avatar/000/00/31/70_avatar_max.jpg" alt=""
                             style="width: 40px;height: 40px; position: relative;top:25px; ">
                    </a>
                    <div style="position: relative;left: 50px;top: -30px;">
                        <h4>
                            <a href="/people">登录框注册框的问题</a>
                        </h4>
                        <a href="/reply" style="position: relative;left:83%;top:20px;">回复</a>
                        <p style="color: grey;">
                            <a href="/people">zjq</a>
                            <span>发起了问题 • 1 人关注 • 0 个回复 • 10 次浏览 • 9 小时前
				</span>
                            <span> •  来自相关话题</span>
                        </p>
                    </div>
                </div>
                <!---->
                <div class="nav nav-tabs">
                    <a   href="/people">
                        <img src="http://wenda.bootcss.com/uploads/avatar/000/00/31/70_avatar_max.jpg" alt=""
                             style="width: 40px;height: 40px; position: relative;top:25px; ">
                    </a>
                    <div style="position: relative;left: 50px;top: -30px;">
                        <h4>
                            <a href="/people">登录框注册框的问题</a>
                        </h4>
                        <a href="/reply" style="position: relative;left:83%;top:20px;">回复</a>
                        <p style="color: grey;">
                            <a href="/people">zjq</a>
                            <span>发起了问题 • 1 人关注 • 0 个回复 • 10 次浏览 • 9 小时前
				</span>
                            <span> •  来自相关话题</span>
                        </p>
                    </div>
                </div>
                <!---->
                <div class="nav nav-tabs">
                    <a   href="/people">
                        <img src="http://wenda.bootcss.com/uploads/avatar/000/00/31/70_avatar_max.jpg" alt=""
                             style="width: 40px;height: 40px; position: relative;top:25px; ">
                    </a>
                    <div style="position: relative;left: 50px;top: -30px;">
                        <h4>
                            <a href="/people">登录框注册框的问题</a>
                        </h4>
                        <a href="/reply" style="position: relative;left:83%;top:20px;">回复</a>
                        <p style="color: grey;">
                            <a href="/people">zjq</a>
                            <span>发起了问题 • 1 人关注 • 0 个回复 • 10 次浏览 • 9 小时前
				</span>
                            <span> •  来自相关话题</span>
                        </p>
                    </div>
                </div>
                <!---->
                <div class="nav nav-tabs">
                    <a   href="/people">
                        <img src="http://wenda.bootcss.com/uploads/avatar/000/00/31/70_avatar_max.jpg" alt=""
                             style="width: 40px;height: 40px; position: relative;top:25px; ">
                    </a>
                    <div style="position: relative;left: 50px;top: -30px;">
                        <h4>
                            <a href="/people">登录框注册框的问题</a>
                        </h4>
                        <a href="/reply" style="position: relative;left:83%;top:20px;">回复</a>
                        <p style="color: grey;">
                            <a href="/people">zjq</a>
                            <span>发起了问题 • 1 人关注 • 0 个回复 • 10 次浏览 • 9 小时前
				</span>
                            <span> •  来自相关话题</span>
                        </p>
                    </div>
                </div>
                <!---->
                <div class="nav nav-tabs">
                    <a  href="/people">
                        <img src="http://wenda.bootcss.com/uploads/avatar/000/00/31/70_avatar_max.jpg" alt=""
                             style="width: 40px;height: 40px; position: relative;top:25px; ">
                    </a>
                    <div style="position: relative;left: 50px;top: -30px;">
                        <h4>
                            <a href="/people">登录框注册框的问题</a>
                        </h4>
                        <a href="/reply" style="position: relative;left:83%;top:20px;">回复</a>
                        <p style="color: grey;">
                            <a href="/people">zjq</a>
                            <span>发起了问题 • 1 人关注 • 0 个回复 • 10 次浏览 • 9 小时前
				</span>
                            <span> •  来自相关话题</span>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 column bb" style="height: 400px; ">
                <div style="margin:17px 0;">
                    <span>热门话题</span>
                    <a href="/topic" class="dropdown pull-right">更多></a>
                </div>
                <dl style="height: 40px;">
                    <dt class="pull-left">
                        <a href="http://wenda.bootcss.com/topic/bootstrap">
                            <img src="http://wenda.bootcss.com/static/common/topic-mid-img.png" alt=""
                                 style="width: 40px;height: 40px;">
                        </a>
                    </dt>
                    <dd class="pull-left" style="margin-left: 15px;color: grey">
                        <p style="margin: 0">
                                <span>
                                    <a href="">aaa</a>
                                </span>
                        </p>
                        <p>
                            <b>12</b>" 个问题,"
                            <b>32</b>" 人关注"
                        </p>
                    </dd>
                </dl>
                <!---->
                <dl style="height: 40px;">
                    <dt class="pull-left">
                        <a href="http://wenda.bootcss.com/topic/bootstrap">
                            <img src="http://wenda.bootcss.com/static/common/topic-mid-img.png" alt=""
                                 style="width: 40px;height: 40px;">
                        </a>
                    </dt>
                    <dd class="pull-left" style="margin-left: 15px;color: grey">
                        <p style="margin: 0">
                                <span>
                                    <a href="">aaa</a>
                                </span>
                        </p>
                        <p>
                            <b>12</b>" 个问题,"
                            <b>32</b>" 人关注"
                        </p>
                    </dd>
                </dl>
                <!---->
                <dl>
                    <dt class="pull-left">
                        <a href="http://wenda.bootcss.com/topic/bootstrap">
                            <img src="http://wenda.bootcss.com/static/common/topic-mid-img.png" alt=""
                                 style="width: 40px;height: 40px;">
                        </a>
                    </dt>
                    <dd class="pull-left" style="margin-left: 15px;color: grey">
                        <p style="margin: 0">
                                <span>
                                    <a href="">aaa</a>
                                </span>
                        </p>
                        <p>
                            <b>12</b>" 个问题,"
                            <b>32</b>" 人关注"
                        </p>
                    </dd>
                </dl>
            </div>
            <div class="col-md-3 column" style="height: 400px;border-top: 1px solid gray">
                <div style="margin:17px 0;">
                    <span>热门用户</span>
                    <a href="#" class="dropdown pull-right">更多></a>
                </div>
                <dl style="height: 40px;">
                    <dt class="pull-left">
                        <a href="http://wenda.bootcss.com/people/murusheng">
                            <img src="http://wenda.bootcss.com/uploads/avatar/000/00/31/70_avatar_mid.jpg" alt=""
                                 style="width: 40px;height: 40px;">
                        </a>
                    </dt>
                    <dd class="pull-left" style="margin-left: 15px;color: grey">
                        <a href="http://wenda.bootcss.com/people/murusheng"></a>
                        <p></p>
                        <p style="margin: 0">
                            <b>0</b>" 个问题,"
                            <b>0</b>" 次赞同"
                        </p>
                    </dd>
                </dl>
                <!---->
                <dl style="height: 40px;">
                    <dt class="pull-left">
                        <a href="http://wenda.bootcss.com/people/murusheng">
                            <img src="http://wenda.bootcss.com/uploads/avatar/000/00/31/70_avatar_mid.jpg" alt=""
                                 style="width: 40px;height: 40px;">
                        </a>
                    </dt>
                    <dd class="pull-left" style="margin-left: 15px;color: grey">
                        <a href="http://wenda.bootcss.com/people/murusheng"></a>
                        <p></p>
                        <p style="margin: 0">
                            <b>0</b>" 个问题,"
                            <b>0</b>" 次赞同"
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-1 column"></div>

</div>
</div>
</div>
</div>
<!--背景-->
<% include footer%>
<!--<script type="text/javascript" src="/javascripts/beijing.js"></script>-->
</div>


