<% include indexTemplate%>

<!--<canvas></canvas>-->
<div class="container " style=" max-width: none; ">
    <div class="row clearfix">
        <div class="row clearfix" style="height: 800px;">
            <div class="col-md-1 column"></div>
            <div class="col-md-8 column" style="padding:0;height: 800px;border-right: 1px solid gray;">

                <div class="nav-tabs">
                    <img src="http://wenda.bootcss.com/uploads/avatar/000/00/31/70_avatar_max.jpg" alt=""
                         style="margin-bottom: 20px;">
                    <span>zjq</span>
                </div>

                <div class="nav-tabs" style="padding:10px">
                    <span>
                        <i class="	glyphicon glyphicon-bookmark"></i>&ensp;威望：
                        <em>999</em>&#x3000;
                    </span>
                    <span>
                        <i class="glyphicon glyphicon-signal"></i>&ensp;积分：
                        <em>1000</em>&#x3000;
                    </span>
                    <span>
                        <i class="glyphicon glyphicon-thumbs-up"></i>&ensp;赞同：
                        <em>666</em>&#x3000;
                    </span>
                    <span>
                        <i class="glyphicon glyphicon-heart-empty"></i>&ensp;感谢：
                        <em>666</em>&#x3000;
                    </span>
                </div>

                <ul class="nav nav-tabs">
                    <li class="dropdown pull-left"><a href="#">概述</a></li>
                    <li class="dropdown pull-left"><a href="#">发问</a></li>
                    <li class="dropdown pull-left"><a href="#">回复</a></li>
                    <li class="dropdown pull-left"><a href="#">文章</a></li>
                    <li class="dropdown pull-left"><a href="#">关注</a></li>
                    <li class="dropdown pull-left"><a href="#">动态</a></li>
                    <li class="dropdown pull-left"><a href="#">详细资料</a></li>
                </ul>
                <div class="nav-tabs">
                    <div style="margin:17px 0;">
                        <h3>回复
                            <a href="#" class="dropdown pull-right" style="font-size: 13px; margin-right: 20px;">更多></a>
                        </h3>
                    </div>
                    <div>
                        <span><a href=""><font>局干部和聚会玻璃胶的部分路口的部分</font></a></span>
                        <div>
                            <span class="  pull-left">
                                <i class=" glyphicon glyphicon-tags"></i>&ensp;0&#x3000;
                            </span>
                            <p class="aw-hide-txt">一位群里的热心朋友帮我解决了，就有加了一小段代码</p>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="nav-tabs">
                    <div style="margin:17px 0;">
                        <h3>回复
                            <a href="#" class="dropdown pull-right" style="font-size: 13px; margin-right: 20px;">更多></a>
                        </h3>
                    </div>
                    <div>
                        <span><a href=""><font>局干部和聚会玻璃胶的部分路口的部分</font></a></span>
                        <div>
                            <span class="  pull-left">
                                <i class=" glyphicon glyphicon-tags"></i>&ensp;0&#x3000;
                            </span>
                            <p class="aw-hide-txt">一位群里的热心朋友帮我解决了，就有加了一小段代码</p>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="nav-tabs">
                    <div style="margin:17px 0;">
                        <h3>回复
                            <a href="#" class="dropdown pull-right" style="font-size: 13px; margin-right: 20px;">更多></a>
                        </h3>
                    </div>
                    <div>
                        <span><a href=""><font>局干部和聚会玻璃胶的部分路口的部分</font></a></span>
                        <div>
                            <span class="  pull-left">
                                <i class=" glyphicon glyphicon-tags"></i>&ensp;0&#x3000;
                            </span>
                            <p class="aw-hide-txt">一位群里的热心朋友帮我解决了，就有加了一小段代码</p>
                        </div>
                    </div>
                </div>



            </div>


            <div class="col-md-3 column nav-tabs">
                <div style="margin:17px 0;">
                    <span>关注0人</span>
                    <a href="#" class="dropdown pull-right">更多></a>
                </div>

            </div>
            <div class="col-md-3 column nav-tabs">
                <div style="margin:17px 0;">
                    <span>被关注1人</span>
                    <a href="#" class="dropdown pull-right">更多></a>
                    <p><a href="" class="pull-left"><img
                                    src="http://wenda.bootcss.com/uploads/avatar/000/00/38/01_avatar_mid.jpg" alt=""
                                    style="width: 20px;height: 20px;margin: 10px"></a></p>
                </div>
            </div>

            <div class="col-md-3 column nav-tabs">
                <div style="margin:17px 0;">
                    <span>关注 <m>2</m> 话题</span>
                    <p><span><a href="">容器</a></span></p>
                    <p><span><a href="">响应式导航栏</a></span></p>
                </div>

            </div>
            <div class="col-md-3 column  ">
                <div style="margin-top: 15px;">
                    <span>主页访问量：300访问</span>
                </div>

            </div>



        </div>
    </div>
</div>
<div class="col-md-1 column"></div>
<!--<script type="text/javascript" src="/javascripts/beijing.js"></script>-->

<% include footer%>

