<% include indexTemplate%>
<!--<canvas></canvas>-->
<div class="container " style=" max-width: none;min-width: 1200px; ">
    <div class="row clearfix">
        <div class="row clearfix">
            <div class="col-md-1 column"></div>
            <div class="col-md-8 column" style="padding:0;border-right: 1px solid gray;">
                <div class="nav nav-tabs">
                    <a href=""><span><font>模态框</font></span></a>
                    <h3><font>已经解决，里面有解决代码]登录框注册框的问题，打开登录框，在登录框的板面上点击去注册，打开注册框，但登录框依然在，没有关闭掉</font></h3>
                </div>
                <div class="nav nav-tabs">
                    <font>
                        url（../ img / toolbar.png）不重复; } .toolbar { position：fixed; 权利：5px; 底部：5px; } footer [role
                        =“contentinfo”] .toolbar a { color：#fff; } / 假设网页宽度为1200px，导航条在右侧悬浮 / .toolbar-item {
                        display：block; width：40px; height：40px; margin-top：1px; 位置：亲戚;
                        -moz-transition：background-position 1s; -ms-transition：background-position 1s;
                        -o-moz-transition：background-position 1s; -webkit-moz-transition：background-position 1s;
                        转换：background-position 1s; } .black-overlay { position：fixed; 顶部：0; 权利：0; 底部：0; 左：0;
                        背景：rgba（0，0，0，.3）; z-index：99998; } #login_frame { width：520px; 背景：#fff; 位置：固定; 顶部：50％; 左：50％;
                        边距：-155px 0 0 -260px; text-align：center; padding：30px 0 20px; box-shadow：0 2px 5px
                        rgba（0，0，0，.3）; border-radius：0px; } #login_frame .sign-up { margin-top：30px; } #login_frame
                        .holder { width：300px; 边距：0自动; 位置：亲戚; } #login_frame .with-line { font-size：16px; 颜色：＃999;
                        边距：0自动; 位置：亲戚; text-align：center; } #login_frame .sign-up .buttons { margin：20px 0 20px -15px;
                        width：336px; text-align：center; } #login_frame .sign-up .buttons a { margin-right：10px; }
                        #login_frame .buttons a { display：inline-block; margin-right：5px; width：40px; height：40px; <！ -
                        background：url（img / login_icons_small.svg）0 0 no-repeat; - > }
                    </font>


                    <div>
                        <a href="">
                            <img src="http://wenda.bootcss.com/uploads/questions/20170512/93ce2f79b521da515ef68c97f87cbc86.jpg"
                                 alt="" style="width: 300px;height: 300px;">
                        </a>
                    </div>
                    <p style="margin-top: 15px;">
                        <a href="">
                            <i class="icon icon-attach"></i>

                            <font>弹出框.rar程序</font>
                        </a>

                    </p>
                    </ul>
                    <div>
                        <font>13个小时前</font>
                        <a href="">
                            <i class="icon icon-comment"></i>
                            <font>添加评论</font>
                        </a>
                        <a href="" class="pull-right" style="margin-right: 30px;">
                            <i class="icon icon-share"></i>
                            <font>分享</font>
                        </a>
                    </div>
                    <h3><font>一个回复</font></h3>
                </div>
                <div>
                    <div>
                        <a href="">
                            <img src="http://wenda.bootcss.com/uploads/avatar/000/00/31/70_avatar_mid.jpg" alt=""
                         style="width: 40px;height: 40px;margin-top: 10px;">
                        </a>
                        <div style="position: relative;left: 58px;top: -43px;">
                            <p><a href="">murusheng</a></p>
                            <div>
                                <font>一位群里的热心朋友帮我解决了，就有加了一小段代码</font>
                                <a href=""><img src="images/avatar.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="pull-right" style="margin-right: 20px;"><font>4小时前</font></span>
                        <span style="margin-left: 55px;">
                            <a href="">
                                <i></i>
                                <b>0</b>
                            </a>
                        </span>
                        <span>
                            <a href="">
                                <i></i>
                                <b>0</b>
                            </a>
                        </span>
                        <span>
                            <a href="">
                                <i></i>
                                <b>分享</b>
                            </a>
                        </span>
                    </div>
                   <center> <font>回复主要问题请先<a href="/login">登录</a>或<a href="/reg">注册</a></font>  </center>
                </div>

            </div>


            <div class="col-md-3 column  nav-tabs "  >
                <div style="margin:17px 0;">
                    <span>发起人</span>
                </div>
                <dl>
                    <dt class="pull-left">
                        <a href=" ">
                            <img src="http://wenda.bootcss.com/uploads/avatar/000/00/31/70_avatar_mid.jpg" alt=""
                                 style="width: 40px;height: 40px;margin-bottom: 30px;">
                        </a>
                    </dt>
                    <dd class="pull-left "  >
                        <p style="margin: 0">
                                <span>
                                    <a href="">zjq</a>
                                </span>
                        </p>

                    </dd>
                </dl>
            </div>
            <div class="col-md-3 column nav-tabs">
                <div style="margin:17px 0;">
                    <span>相关问题</span>
                </div>
                <div>
                    <ul  style="list-style-type: none">
                        <li><a href=""><font>赤年兽欧</font></a></li>
                        <li><a href=""><font>赤年兽欧</font></a></li>
                        <li><a href=""><font>赤年兽欧</font></a></li>
                        <li><a href=""><font>赤年兽欧</font></a></li>
                        <li><a href=""><font>赤年兽欧</font></a></li>
                        <li><a href=""><font>赤年兽欧</font></a></li>
                    </ul>
                </div>
                </dl>


            </div>
            <div class="col-md-3 column">
                <div style="margin:17px 0;">
                    <span>问题状态</span>
                </div>
                <div>
                    <ul  style="list-style-type: none">
                        <li> <font>最新活动 ： 5小时前</font> </li>
                        <li> <font>浏览：47</font> </li>
                        <li> <font>关注：1</font> </li>
                    </ul>
                    <a href=""><img src="http://wenda.bootcss.com/uploads/avatar/000/00/31/70_avatar_mid.jpg" alt="" style="width: 30px;height: 30px;position: relative;left: 40px;"></a>
                </div>
                </dl>


            </div>
        </div>
    </div>
</div>

<!--<script type="text/javascript" src="/javascripts/beijing.js"></script>-->

<% include footer%>