<% include indexTemplate%>

<!--<canvas></canvas>-->
<div class="container"  >
    <main class="col-md-12 column">
        <div class="row clearfix " style="padding:20px ">
            <h2>用户设置</h2>
            <hr>
            <div class="pull-right" style="padding-right:30px">
                <a class="pull-left" href="/zuozhe"><img style="width:80px;height:80px;" src="images/avatar.jpg" alt=""></a>
                <div style="margin-left:80px;">
                    <h4>&#x3000;头像设置</h4>
                    <p>&#x3000;&nbsp;支持jpg.gif.png等格式图片</p>
                    <input type="file" class="file">
                </div>
            </div>
            <h3>基本信息</h3>
            <h4>账号：zjq</h4>
            <h4>姓名：zjq</h4>
        </div>
        <br><br><br>
    </main>
</div>
<!--<script type="text/javascript" src="/javascripts/beijing.js"></script>-->

<% include footer%>
